<a class="navbar-brand kf-kent-horizontal" href="/" title="The University of Kent" ><span class="sr-only">The University of Kent</span></a>
<span class="tag-line">The UK's European university</span>
<nav id="audience-nav-links"></nav>