<div class="user-section"></div>
<div class="search-services"><input name="" id="kent-bar-search" /></div>
<div class="user-services-section"></div>
<div class="favorites-section"><strong>Favorites</strong></div>