<div class="user-section"></div>
<div class="search-services"><input name="" placeholder="search student"/></div>
<div class="user-services-section"></div>
<div class="favorites-section">Favorites</div>