<div class="user-section"></div>
<div class="search-services"><input name="" id="kent-bar-search" /></div>
<div class="user-services-section">cupcake</div>
<div class="footer-section"><a href="#">Show all</a></div>