#kent-bar, .kent-bar {
	font-size: 16px;
	line-height: 19px;
	background: $brand-primary;
	color: #fff;
	font-family: $font-family-sans-serif;
    height:3rem;

    a[class^="kf-"], a[class*=" kf-"] {
    	transform: translate(0px, 0px) rotate(0.001deg);
    }

	a.navbar-brand {
		font-size: 1.2rem;
		padding: 12px 1em;
		color: #fff;
		display:inline-block;
		text-decoration: none;

		span.sr-only {
			overflow: hidden;
			clip: rect(0, 0, 0, 0);
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
		}
	}

	button.audience-menu {
		background-color: lighten($brand-primary, 3%);
		color: #fff;
		border: none;
		font-size: 1.2rem;
		float: right;
		height: $kentbar-height;
		width:  $kentbar-height;
		cursor: pointer;
		box-sizing: border-box;

		&:active,&:focus{
			outline: none;
		}
	}

	nav.audience-nav-links {
		width: 100%;
		height:0;
		overflow:hidden;
		transition: height 200ms;
		clear: both;

		a {	
			cursor: pointer;
			color: $link-color;
			padding: 0.75em 1em;
			background: #f5f5f5;
			border-bottom: 1px solid #ccc;
			display: block;
			text-decoration:none;
			position: relative;

			&::after {
				display: inline-block;
				box-sizing: border-box;
				padding-left: 8px;
				content: $kf-angle-right;
				font-family:  $font-family-kentfont;
				width: 20px;
				text-align: left;
				transition: all 300ms;
				position: absolute;
				right:16px;
			}
			&:hover {
				color: #00263d;
				text-decoration: underline;
				&::after{
					padding-left: 11px;
				}
			}
			&:focus {
				text-decoration: underline;
				outline: none;
			}
		}
	}

	&.in {
		nav.audience-nav-links {

			&.kent-bar-1-links {height: 44px;}
			&.kent-bar-2-links {height: 88px;}
			&.kent-bar-3-links {height: 132px;}
			&.kent-bar-4-links {height: 176px;}
			&.kent-bar-5-links {height: 220px;}
			&.kent-bar-6-links {height: 264px;}	

			box-shadow: 1px 1px 3px #BFBFBF;
			border-bottom: 1px solid #ccc;
		}

		button.audience-menu::before{
			content: $kf-close;
		}
	}

	@include media-breakpoint-up(md) {

		&.in nav.audience-nav-links {
			&.kent-bar-1-links,
			&.kent-bar-2-links,
			&.kent-bar-3-links,
			&.kent-bar-4-links,
			&.kent-bar-5-links,
			&.kent-bar-6-links {
				height: auto;
			}
		}

        height: auto;

		button.audience-menu {
			display:none;
		}

		&.in nav.audience-nav-links {
			height:auto;
			box-shadow: none;
			border-bottom: none;
            position: relative;
		}

		nav.audience-nav-links {
			width: auto;
			box-shadow: none;
			border-bottom: none;
			height:auto;
			font-size:0.9rem;
			float:right;
			margin-right: 20px;
			overflow:visible;
            z-index: 100;
			// Safari work around (possibly remove if we find a nicer solution to the bug)
			position: absolute;
			top:0;
			right:0;
			// end safari work around

			a {	
				display:       inline-block;
				background:    none;
				padding:       0;
				line-height:   $kentbar-height-desktop;
				color:         #fff;
				margin-left:   .5em;
				border-bottom: 0px;
				position:      relative;

				&:hover{
					color: #FFF;
				}
				&::after { display:none; content:none; }

				&.in::after {
					box-sizing: border-box;
					padding:0;
					content: " ";
					display:block;
					height:14px;
					width:14px;
					background: #fff;
					position:absolute;
					bottom: -18px;
					right: calc(50% - 7px);
					transform: rotate(45deg);
					border-top: 1px solid #ccc;
					border-left: 1px solid #ccc;
				}
			}
		}
	}
}